@import url('https://fonts.googleapis.com/css?family={{titleStyle}}');

#random-number {
    text-align: center;
    font-family: "{titleStyle}", sans-serif;
    font-weight: bold;
    position: absolute;
    top: 50%;
    width: 95%;
    transform: translate(0, -50%);
    transition: opacity 0.5s linear;
}

.hide {
    opacity: 0;
}
